@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;900&display=swap');



.hero-container {
  background: url("../../assets/images/homepage/1.png") center center/cover
    no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: insert 0 0 0 1000px rgba(0, 0, 0, 0);
  object-fit: contain;
  margin-top: -10%;
}

.title {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 4em;
  text-align: center;
  color: #ffffff;
}

.subtitle {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  color: #ffffff;
}

.buttons {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-container > p {
  color: white;
  font-size: 80px;
  margin-top: 0px;
}

.hero-btns {
  margin-top: 0px;
}

.title1 {
  position: relative;
}

.subtitle1 {
  position: relative;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
  }
  .hero-container > p {
    font-size: 30px;
  }
}
