.homelistitem {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
}

/* .flexrowtopalign {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  } */
