.hamburger {
  width: 30px;
  height: 22px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
  cursor: pointer;
  background: transparent;
  border: none;
  z-index: 999;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $text-color;
    transform: rotate(0deg);
    opacity: 1;
    right: 0;
    border-radius: 5px;
    &:nth-child(1) {
      top: 0px;
      width: 80%;
    }
    &:nth-child(2),
    &:nth-child(3) {
      transition: 0.25s ease-in-out;
      top: 8px;
      width: 65%;
    }
    &:nth-child(4) {
      top: 16px;
    }
  }
  &:focus {
    outline: none;
  }
  &:not(.is-active):hover span {
    &:nth-child(2),
    &:nth-child(3) {
      animation-duration: 0.15s;
    }
  }
  &:not(.is-active):active span {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      transform: rotate(0deg);
      animation: none;
    }
  }
  &.is-active {
    span {
      background-color: $text-color;
      &:nth-child(1) {
        top: 13px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 13px;
        width: 0%;
        left: 50%;
      }
    }
  }
}
