.home {
  background-color: white;
}

.h1 {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 3em;
  text-align: left;
  color: #07245C;
}

.h2 {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 2em;
  text-align: center;
  color: #07245C;
}

.phototags {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1em;
  text-align: left;
  color: #07245C;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

.h2subtitle {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  color: #07245C;
}

.autoheight {
  height: auto;
  padding-top: 50px;
  padding: 2em;
}

.width80 {
  width: 60% !important;
}

.flex {
  display: flex !important;
  text-align: left;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.marginleft {
  margin: 20px;
  padding-left: 100px;
}

.margin {
  margin: 20px;
}

.marginright {
  margin: 20px;
  padding-right: 100px;
}

.flexrow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.flexrowtopalign {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionwrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.imgpadding {
padding: 10px;
position: relative;
height: auto;
width: auto;
}

.headingpadding {
  padding-bottom: 30px;
  }

.width30 {
width: 30%;
padding: 15px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

#Nad_morzem {
    left: 20px;
    top: 50px;
    position: relative;
    overflow: visible;
    width: 179px;
    white-space: nowrap;
    line-height: 38px;
    margin-top: -5px;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: rgba(252,252,252,1);

}

#W_gorach {
  left: 0px;
  top: 50px;
  position: relative;
  overflow: visible;
  width: 179px;
  white-space: nowrap;
  line-height: 38px;
  margin-top: -5px;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: rgba(252,252,252,1);

}

#Nad_jeziorem {
  left: 0px;
  top: 50px;
  position: relative;
  overflow: visible;
  width: 179px;
  white-space: nowrap;
  line-height: 38px;
  margin-top: -5px;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: rgba(252,252,252,1);

}

#W_miescie {
  left: 0px;
  top: 50px;
  position: relative;
  overflow: visible;
  width: 179px;
  white-space: nowrap;
  line-height: 38px;
  margin-top: -5px;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: rgba(252,252,252,1);

}


/* .Nad_morzem {
  left: 30px;
  top: 29px;
  position: relative;
  overflow: visible;
  width: 179px;
  white-space: nowrap;
  line-height: 38px;
  margin-top: -5px;
  text-align: center;
  font-family: 'Red Hat Display', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: rgba(252,252,252,1);
} */