.sectionheight {
  height: 100px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.investmenthero {
  background: url("") center center/cover
    no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: insert 0 0 0 1000px rgba(0, 0, 0, 0);
  object-fit: contain;
  margin-top: 0px;
}