.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.listitemwrapper {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 70%;
}

.listitem {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.investmenttitle {
  height: auto;
  justify-content: space-between;
}

.itemdatawrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  width: 50%;
  height: 80%;
}

.itemdatarow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.logoanddetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70%;

}
