.formwrapper {
  display: flex;
  background: white;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  height: 120px;
  width: 65%;
  margin-top: 50px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.row {
  align-items: flex-end;
  margin-right: -15px !important;
  margin-left: 0px !important;
  justify-content: space-around;
  width: 100%;
}

label {
  padding: 12px 12px 12px 0;
  display: block;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: bold;
  font-size: 15px;
}

input[type="submit"] {
  background-color: #ec1c24;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: red;
}

/* .container {
  border-radius: 5px;
  background-color: #fff;
  padding: 20px;
} */

.col-10 {
  float: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input {
  display: block;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  padding: 10px 10px;
  line-height: 3;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font-family: 'Red Hat Display', sans-serif;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  border: 1px solid #07245C;

}

select {
  display: block;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  padding: 10px 10px;
  line-height: 3;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font-family: 'Red Hat Display', sans-serif;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  border: 1px solid #07245C;
}


input:focus, textarea:focus
{
    border: 1px solid #1670BE;
    box-shadow: 0 0 3px #1670BE;
    outline-offset: 0px;
    outline: none;
}
