@import "../../assets/styles/variables";

.formcontainer {
  background-color: #f5f8fc;
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 2em;
  padding-bottom: 2em;
}

.contact-formleft {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.form-wrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.MuiInputBase-input {
  width: 250px;
}

.contact-form-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form-agreements {
  font-size: 10px;
}

.agreement-wrapper {
  width: auto;
  overflow: hidden; /* add this to contain floated children */
}

.agreement-wrapper-first {
  width: 70%;
  float: left;
  padding-top: 20px;
}

.agreement-wrapper-second {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 30%;
  height: 150px;
  text-align: center;
}
