/* @import "../../assets/styles/variables";

.checkbox {
  &__label {
    display: inline-flex;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + span {
    display: block;
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  input[type="checkbox"] + span:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid $text-color;
    position: absolute;
    border-radius: 3px;
    left: 0px;
    top: 50%;
    transform: translate(-0%, -50%);
    transition: all 150ms linear;
  }

  input[type="checkbox"] + span:after {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    transform: translate(-0%, -50%);
    left: -1px;
    opacity: 0;
    // background-image: url("../../icons/check.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: all 150ms linear;
  }

  input[type="checkbox"]:checked + span:after {
    opacity: 1;
    left: 1px;
  }
}
 */