@import "../../assets/styles/variables";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: auto;
  color: white;
  background: #07245c;
}

.footermenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 60%;
  height: auto;
  background: #07245c;
  color: white;
}

.footersubmenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #051a43;
  width: 60%;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.footermenutext {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.submenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  margin: 20px;
}

.submenuwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #051a43;
  height: 5em;
}

.menucolumn {
  margin: 2em;
}

.bold {
  font-weight: 600;
}
