@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto');


@import "partials/_reset";
@import "./variables";


// @import "modules/bootstrap/bootstrap";
// @import "modules/_hamburger";
// @import "modules/_slick";
// @import "modules/_slick-theme";

body {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  background-color: #fff;
  color: #07245C;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

a,
button {
  margin: 0px;
  transition: all 150ms linear;
  color: $text-color;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-style: normal;
}

@import "partials/_grid";
@import "partials/_layout";
@import "partials/_items";
@import "partials/_elements";
